* {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

form {
    text-align: center;
    padding: 15px;
}